<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cezarmoisa.bmicalculator">
    <!-- internet permission for ads -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- billing permision for IAP -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- firebase -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECIEVE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- firebase service -->
        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/dark_blue" />
        <!-- ads implementation -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4574445756996951~9689021672" /> <!-- Declare parents for the back button to know where to go -->
        <activity
            android:name=".ActivityBFP_done"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivityBFP" />
        <activity
            android:name=".ActivityBMI_done"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivityBMI" />
        <activity
            android:name=".ActivityBMI"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityBFP"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>